.lemis-header { padding-right: 0 }

a.lemis-header-button { height: 64px; line-height: 64px; border-radius: 0; }
a.lemis-header-button:hover, a.lemis-header-button:focus { background-color: white; color: #3f51b5; }

.sidenav-container {
  height: 100%;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
}

.sidenav { width: 200px }

span.spacer { flex: 1 1 auto }
