<div id="museu-valegre" fxLayout="row" fxLayoutAlign="center" class="news-item-container">
  <div fxLayout="column" fxFlex="40" fxFlex.md="60" fxFlex.sm="70" fxFlex.xs="100" class="news-item mat-elevation-z4">
    <div class="image-container">
      <img src="/assets/images/news/museu-vista-alegre_header.jpg" alt="Mobiliário Lemis no Museu da Vista Alegre">
    </div>
    <div class="title-container">
      <h1>Mobiliário Lemis no Museu da Vista Alegre</h1>
      <h4 class="color-ccc">12/01/2016</h4>
    </div>
    <div class="content-container">
      <p>A requalificação/ampliação do Museu da Vista Alegre é o fruto de uma união de esforços entre a Vista Alegre
        Atlantis, SA e o Município de Ílhavo que resultou numa recuperação e ampliação do espaço envolvente ao largo
        (ou terreiro) da fábrica de porcelana da Vista Alegre, com o objetivo de devolver à comunidade, e ao público em
        geral, a fruição de um património único, representativo da evolução da história da porcelana em Portual, no
        Lugar, Concelho e Região onde a fábrica se integra.</p>
      <p>A obra de Requalificação e Ampliação do Museu da Vista Alegre, que se encontra concluída, estando em fase de
        montagem e implementação dos conteúdos e itinerário expositivo, representa um investimento de 2.489.443,95 €.</p>
      <p>A Lemis, foi a empresa selecionada para o fornecimento do Mobiliário para as Áreas Administrativas, para a
        Zona da Creche e para a Cafetaria e Loja da Vista Alegre.</p>

      <h2>Zona da Creche</h2>
      <div fxLayout="row wrap" fxLayoutAlign="center">
        <div fxFlex="50" fxFlex.xs="100" fxLayoutAlign="center" style="margin-top: 10px">
          <img src="/assets/images/news/vista-alegre-1.jpg" alt="Zona da creche 1" style="max-height: 400px">
        </div>
        <div fxFlex="50" fxFlex.xs="100" fxLayoutAlign="center" style="margin-top: 10px">
          <img src="/assets/images/news/vista-alegre-2.jpg" alt="Zona da creche 2" style="max-height: 400px">
        </div>
      </div>

      <h2>Loja da Vista Alegre</h2>
      <div fxLayout="column" fxLayoutAlign="center" class="img-with-tooltip">
        <img src="/assets/images/news/vista-alegre-3.jpg" alt="Poltrona Baltia">
        <h3 class="tooltip">Poltrona Baltia</h3>
      </div>
      <p style="margin-top: 30px">Poltrona confortável, clássica, acolhedora com um estilo próprio, com o encosto alto
        e imponente. Experienciando sensação acolhedora de um abraço ao sentar-se. A estrutura da poltrona é feita de
        madeira sólida e o estofado revestido em veludo.</p>

      <h2>Linha Somerset</h2>
      <p>A Linha de Poltronas Somerset está em sintonia com todos os tipos de ambiente: perfeito para um ambiente
        tradicional, e para um ambiente moderno destaca-se como um valioso trabalho de arte.</p>
      <p>Feito exclusivamente à mão com capitonné, as poltronas têm uma sensação distinta, refinada e sofisticada, mas
        também suaves e acolhedoras.</p>
      <div id="linha-somerset" fxLayout="column" fxLayoutAlign="center center">
        <img src="/assets/images/news/vista-alegre-4.jpg" alt="Linha Somerset 1">
        <img src="/assets/images/news/vista-alegre-5.jpg" alt="Linha Somerset 2" style="margin-top: 20px;">
      </div>

      <h2>Cafetaria</h2>
      <div id="linha-somerset" fxLayout="column" fxLayoutAlign="center center">
        <img src="/assets/images/news/vista-alegre-6.jpg" alt="Linha Somerset 1">
        <img src="/assets/images/news/vista-alegre-7.jpg" alt="Linha Somerset 2" style="margin-top: 20px;">
      </div>

    </div>
  </div>
</div>