<div fxLayout="row" fxLayoutAlign="center" class="news-item-container">
  <div fxLayout="column" fxFlex="40" fxFlex.md="60" fxFlex.sm="70" fxFlex.xs="100" class="news-item mat-elevation-z4">
    <div class="image-container">
      <img src="/assets/images/news/obras2015_metro.jpg" alt="Principais Obras da Lemis em 2015">
    </div>
    <div class="title-container">
      <h1>Principais Obras da Lemis em 2015</h1>
      <h4 class="color-ccc">12/01/2016</h4>
    </div>
    <div class="content-container">
      <h2>Museu da Vista Alegre</h2>
      <img src="/assets/images/news/obras2015-vistaalegre.jpg" alt="Museu da Vista Alegre">

      <h2>Car Surf de São Jacinto</h2>
      <h4 class="color-ccc">Município de Aveiro</h4>
      <img src="/assets/images/news/obras2015-1.jpg" alt="Museu da Vista Alegre">

      <h2>Centros de Saúde de Esgueira e Cacia</h2>
      <h4 class="color-ccc">Município de Aveiro</h4>
      <img src="/assets/images/news/obras2015-2.jpg" alt="Museu da Vista Alegre">

      <h2>Escola Primária de Porto Amboim</h2>
      <h4 class="color-ccc">Avelar Engenheiros - CGAT - Construção Civil Lda</h4>
      <img src="/assets/images/news/obras2015-3.jpg" alt="Museu da Vista Alegre">

      <h2>Escola Secundária de Anadia</h2>
      <h4 class="color-ccc">Ferreira / ACA e Parque Escolar</h4>
      <img src="/assets/images/news/obras2015-4.jpg" alt="Museu da Vista Alegre">

      <h2>Escola Secundária de Santa Marta de Penaguião</h2>
      <h4 class="color-ccc">ACA</h4>
      <img src="/assets/images/news/obras2015-5.jpg" alt="Museu da Vista Alegre">

      <h2>Centro Escolar da Mealhada e do Luso</h2>
      <h4 class="color-ccc">Município da Mealhada</h4>
      <img src="/assets/images/news/obras2015-6.jpg" alt="Museu da Vista Alegre">

      <h2>Escola Secundária Acácio Azevedo</h2>
      <h4 class="color-ccc">Costa & Carreira - Oliveira do Bairro</h4>
      <img src="/assets/images/news/obras2015-7.jpg" alt="Museu da Vista Alegre">

      <h2>Incubadora de Empresas</h2>
      <h4 class="color-ccc">Município de Águeda</h4>
      <img src="/assets/images/news/obras2015-8.jpg" alt="Museu da Vista Alegre">

      <h2>Centro Escolar de Valongo do Vouga</h2>
      <h4 class="color-ccc">Município de Águeda</h4>
      <img src="/assets/images/news/obras2015-9.jpg" alt="Museu da Vista Alegre">

      <h2>Centro Escolar da Lage e Soutelo</h2>
      <h4 class="color-ccc">Município de Vila Verde</h4>
      <img src="/assets/images/news/obras2015-10.jpg" alt="Museu da Vista Alegre">

      <h2>Base Aérea nº5</h2>
      <h4 class="color-ccc">Força Aérea Portuguesa</h4>
      <img src="/assets/images/news/obras2015-11.jpg" alt="Museu da Vista Alegre">

      <h2>Mais Mobiliário Fornecido para</h2>
      <div fxLayout="row wrap" fxLayoutAlign="center" class="more-container">
        <div fxFlex="50" fxFlex.xs="100">
          <img src="/assets/images/news/obras2015-12.jpg" alt="Museu da Vista Alegre">
        </div>
        <div fxFlex="50" fxFlex.xs="100">
          <img src="/assets/images/news/obras2015-14.jpg" alt="Museu da Vista Alegre">
        </div>
        <div fxFlex="50" fxFlex.xs="100">
          <img src="/assets/images/news/obras2015-15.jpg" alt="Museu da Vista Alegre">
        </div>
        <div fxFlex="50" fxFlex.xs="100">
          <img src="/assets/images/news/obras2015-13.jpg" alt="Museu da Vista Alegre">
        </div>
      </div>
    </div>
  </div>
</div>