<mat-toolbar color="primary" class="lemis-header" *ngIf="!isHome">
  <mat-toolbar-row class="lang-bar" *ngIf="!(isHandset$ | async)">
    <span class="spacer"></span>
    <button mat-button type="button" class="lang-btn" [ngClass]="{'lang-btn-active' : currentLanguage == 0}" (click)="changeLanguage(0)">
      <img src="/assets/images/flags/pt.svg" alt="PT">
    </button>
    <button mat-button type="button" class="lang-btn" [ngClass]="{'lang-btn-active' : currentLanguage == 1}" (click)="changeLanguage(1)">
      <img src="/assets/images/flags/fr.svg" alt="FR">
    </button>
    <button mat-button type="button" class="lang-btn" [ngClass]="{'lang-btn-active' : currentLanguage == 2}" (click)="changeLanguage(2)">
      <img src="/assets/images/flags/en.svg" alt="EN">
    </button>
  </mat-toolbar-row>
  <mat-toolbar-row class="menu-bar">
    <div class="logo-block" fxLayoutAlign="center center">
      <a routerLink="/home" fxLayoutAlign="center center">
        <img src="/assets/images/Lemis_Logo_Dark.svg" height="48px" alt="Lemis Ibérica">
      </a>
    </div>
    <span class="spacer"></span>
    <div class="big-menu" *ngIf="!(isHandset$ | async)">
      <a mat-button class="lemis-header-button no-hover-overlay" routerLink="/home" routerLinkActive="active">{{navTranslation[currentLanguage]?.home}}</a>
      <a mat-button class="lemis-header-button no-hover-overlay" routerLink="/empresa" routerLinkActive="active">{{navTranslation[currentLanguage]?.company}}</a>
      <a mat-button class="lemis-header-button no-hover-overlay" routerLink="/produtos" routerLinkActive="active">{{navTranslation[currentLanguage]?.products}}</a>
      <a mat-button class="lemis-header-button no-hover-overlay" routerLink="/noticias" routerLinkActive="active">{{navTranslation[currentLanguage]?.news}}</a>
      <a mat-button class="lemis-header-button no-hover-overlay" routerLink="/contactos" routerLinkActive="active">{{navTranslation[currentLanguage]?.contacts}}</a>
    </div>
    <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()" *ngIf="isHandset$ | async">
      <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
    </button>
  </mat-toolbar-row>
</mat-toolbar>
<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport="false" [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="false" position="start" fxLayout="column">
    <div fxLayout="row" fxFlexAlign="end" class="sidenav-lng-bar">
      <button mat-button type="button" class="lang-btn" [ngClass]="{'lang-btn-active' : currentLanguage == 0}" (click)="changeLanguage(0)">
        <img src="/assets/images/flags/pt.svg" alt="PT">
      </button>
      <button mat-button type="button" class="lang-btn" [ngClass]="{'lang-btn-active' : currentLanguage == 1}" (click)="changeLanguage(1)">
        <img src="/assets/images/flags/fr.svg" alt="FR">
      </button>
      <button mat-button type="button" class="lang-btn" [ngClass]="{'lang-btn-active' : currentLanguage == 2}" (click)="changeLanguage(2)">
        <img src="/assets/images/flags/en.svg" alt="EN">
      </button>
    </div>
    <mat-nav-list>
      <a mat-list-item routerLink="/home" routerLinkActive="active" (click)="drawer.toggle()">{{navTranslation[currentLanguage]?.home}}</a>
      <a mat-list-item routerLink="/empresa" routerLinkActive="active" (click)="drawer.toggle()">{{navTranslation[currentLanguage]?.company}}</a>
      <a mat-list-item routerLink="/produtos" routerLinkActive="active" (click)="drawer.toggle()">{{navTranslation[currentLanguage]?.products}}</a>
      <a mat-list-item routerLink="/noticias" routerLinkActive="active" (click)="drawer.toggle()">{{navTranslation[currentLanguage]?.news}}</a>
      <a mat-list-item routerLink="/contactos" routerLinkActive="active" (click)="drawer.toggle()">{{navTranslation[currentLanguage]?.contacts}}</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content class="content-container">

    <router-outlet></router-outlet>

    <lemis-footer *ngIf="!isHome"></lemis-footer>

  </mat-sidenav-content>
</mat-sidenav-container>