.news-list-container {
}

.news-item { margin-top: .2%; }
.news-item mat-card { padding: 0; }
.news-item mat-card-content { padding: 20px; }
.news-item img { opacity: 0.7; transition: transform .2s; }
.news-item:hover img { opacity: 1; transform: scale(1.1); }