<div fxLayout="column" class="products-list-container">
  <div fxLayout="row" fxLayoutAlign="start center" class="filters-container">
      <h1>{{selectedTag[currentLanguage]}}</h1>
      <span class="spacer"></span>
      <div fxLayout="row wrap" fxLayoutAlign="end center">
        <a *ngFor="let tag of tags" [ngClass]="{active: isSelectedTag(tag)}" (click)="selectTag(tag)">{{tag[currentLanguage]}}</a>
      </div>
  </div>
  <div fxLayout="row wrap" class="list-container">
    <a fxFlex="25" fxFlex.xs="100" fxFlex.sm="50" fxFlex.md="33" fxLayoutAlign="center end"
      *ngFor="let product of filteredProducts" class="product-container no-decoration" [ngStyle]="{'background-image': 'url(' + product.cover + ')'}" (click)="goToProduct(product)">
      <span fxLayoutAlign="center center">{{product.name[currentLanguage]}}</span>
    </a>
  </div>
</div>
