/* You can add global styles to this file, and also import other style files */

html, body { min-height: 100vh; background-color: #fff; }
body { margin: 0; font-family: 'Roboto', sans-serif; }

h1,h2,h3,h4,h5,h6 { font-weight: 400; }

/* Removes focus overlay */
.no-hover-overlay.mat-button .mat-button-focus-overlay,
.no-hover-overlay.mat-button .mat-button-focus-overlay,
.no-hover-overlay.mat-button .mat-button-focus-overlay
{
  background-color: transparent;
}

a.no-decoration {
  text-decoration: none;
}
