/* You can add global styles to this file, and also import other style files */

html, body { min-height: 100vh; background-color: #fff; }
body { margin: 0; font-family: 'Roboto', sans-serif; }

h1,h2,h3,h4,h5,h6,p { font-weight: 300; }

/* Removes focus overlay */
.no-hover-overlay.mat-button .mat-button-focus-overlay,
.no-hover-overlay.mat-button .mat-button-focus-overlay,
.no-hover-overlay.mat-button .mat-button-focus-overlay
{
  background-color: transparent;
}

a.no-decoration {
  text-decoration: none;
}

mat-tab-group.hide-overflow .mat-tab-body,
mat-tab-group.hide-overflow .mat-tab-body .mat-tab-body-content { overflow: hidden; }

button.mat-raised-button.mat-accent { color: #fff; }

.mat-snack-bar-container { max-width: 100% !important; min-height: 60px; }

span.spacer { flex: 1 1 auto }

mat-nav-list a.center-text .mat-list-item-content {
  justify-content: center;
}
