<configuration>
<system.webServer>
    <rewrite>
        <rules>
            <rule name="Main Rule" stopProcessing="true">
                <match url=".*" />
                <conditions logicalGrouping="MatchAll">
                    <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                    <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                </conditions>
                <action type="Rewrite" url="/" />
            </rule>
            <rule name="Redirect to HTTP" stopProcessing="true">
                <match url="(.*)" />
                <conditions>
                    <add input="{HTTPS}" pattern="^ON$" />
                </conditions>
                <action type="Redirect" url="http://{HTTP_HOST}/{R:0}" redirectType="Permanent" />
            </rule>
        </rules>
    </rewrite>
    <staticContent>
      <mimeMap fileExtension=".mp4" mimeType="video/mp4"/>
      <mimeMap fileExtension=".json" mimeType="application/json"/>
    </staticContent>
</system.webServer>
</configuration>